<div class="h-screen bg-[#022d6a] overflow-y-auto hidden sm:block">
  <div class="p-5">
    <div class="flex items-center justify-between">
      <a
        routerLink="/profile"
        class="w-[35px] h-[35px] flex items-center justify-center rounded-full bg-[#1b4279]"
      >
        <i class="fa-solid fa-chevron-right text-white"></i>
      </a>
      <h5 class="text-white flex-1 text-center">JBM/2023/4234234</h5>
      <a
        routerLink="/profile"
        class="w-[35px] h-[35px] flex items-center justify-center rounded-full bg-[#1b4279]"
      >
        <i class="fa-solid fa-plus text-white"></i>
      </a>
    </div>
  </div>
  <div class="bg-[#f6f7fa] h-screen py-6 px-4">
    <div class="flex items-center flex-wrap">
      <div class="text-center w-[50%] p-3">
        <div
          class="w-full h-[100px] flex items-center justify-center bg-[#dfe4ea] rounded-md p-3"
        >
          <img src="/assets/icons/pdf.svg" class="max-w-[65px]" alt="" />
        </div>
        <h4
          class="text-[13px] text-[#243b5a] mt-1 w-full overflow-hidden whitespace-nowrap text-ellipsis"
        >
          تقرير اجتماعي.pdf
        </h4>
      </div>
      <div class="text-center w-[50%] p-3">
        <div
          class="w-full h-[100px] flex items-center justify-center bg-[#dfe4ea] rounded-md p-3"
        >
          <img src="/assets/icons/docx.svg" class="max-w-[65px]" alt="" />
        </div>
        <h4
          class="text-[13px] text-[#243b5a] mt-1 w-full overflow-hidden whitespace-nowrap text-ellipsis"
        >
          تقرير اجتماعي.docx
        </h4>
      </div>
      <div class="text-center w-[50%] p-3">
        <div
          class="w-full h-[100px] flex items-center justify-center bg-[#dfe4ea] rounded-md p-3"
        >
          <img src="/assets/icons/xlsx.svg" class="max-w-[65px]" alt="" />
        </div>
        <h4
          class="text-[13px] text-[#243b5a] mt-1 w-full overflow-hidden whitespace-nowrap text-ellipsis"
        >
          تقرير اجتماعي.xlsx
        </h4>
      </div>
      <div class="text-center w-[50%] p-3">
        <div
          class="w-full h-[100px] flex items-center justify-center bg-[#dfe4ea] rounded-md p-3"
        >
          <img src="/assets/icons/pdf.svg" class="max-w-[65px]" alt="" />
        </div>
        <h4
          class="text-[13px] text-[#243b5a] mt-1 w-full overflow-hidden whitespace-nowrap text-ellipsis"
        >
          تقرير اجتماعي.pdf
        </h4>
      </div>
      <div class="text-center w-[50%] p-3">
        <div
          class="w-full h-[100px] flex items-center justify-center bg-[#dfe4ea] rounded-md p-3"
        >
          <img src="/assets/icons/docx.svg" class="max-w-[65px]" alt="" />
        </div>
        <h4
          class="text-[13px] text-[#243b5a] mt-1 w-full overflow-hidden whitespace-nowrap text-ellipsis"
        >
          تقرير اجتماعي.docx
        </h4>
      </div>
      <div class="text-center w-[50%] p-3">
        <div
          class="w-full h-[100px] flex items-center justify-center bg-[#dfe4ea] rounded-md p-3"
        >
          <img src="/assets/icons/xlsx.svg" class="max-w-[65px]" alt="" />
        </div>
        <h4
          class="text-[13px] text-[#243b5a] mt-1 w-full overflow-hidden whitespace-nowrap text-ellipsis"
        >
          تقرير اجتماعي.xlsx
        </h4>
      </div>
      <div class="text-center w-[50%] p-3">
        <div
          class="w-full h-[100px] flex items-center justify-center bg-[#dfe4ea] rounded-md p-3"
        >
          <img src="/assets/icons/pdf.svg" class="max-w-[65px]" alt="" />
        </div>
        <h4
          class="text-[13px] text-[#243b5a] mt-1 w-full overflow-hidden whitespace-nowrap text-ellipsis"
        >
          تقرير اجتماعي.pdf
        </h4>
      </div>
      <div class="text-center w-[50%] p-3">
        <div
          class="w-full h-[100px] flex items-center justify-center bg-[#dfe4ea] rounded-md p-3"
        >
          <img src="/assets/icons/docx.svg" class="max-w-[65px]" alt="" />
        </div>
        <h4
          class="text-[13px] text-[#243b5a] mt-1 w-full overflow-hidden whitespace-nowrap text-ellipsis"
        >
          تقرير اجتماعي.docx
        </h4>
      </div>
      <div class="text-center w-[50%] p-3">
        <div
          class="w-full h-[100px] flex items-center justify-center bg-[#dfe4ea] rounded-md p-3"
        >
          <img src="/assets/icons/xlsx.svg" class="max-w-[65px]" alt="" />
        </div>
        <h4
          class="text-[13px] text-[#243b5a] mt-1 w-full overflow-hidden whitespace-nowrap text-ellipsis"
        >
          تقرير اجتماعي.xlsx
        </h4>
      </div>
    </div>
  </div>
</div>
