<div class="h-screen bg-[#022d6a] px-7 py-5 overflow-y-auto lgMin:hidden">
  <app-tab-header></app-tab-header>
  <div class="py-5 pb-[60px]">
    <div class="grid gap-4 md:grid-cols-1 grid-cols-3">
      <div class="bg-[#F5F7FA] rounded-md overflow-hidden">
        <div class="flex items-center justify-between p-3 bg-white mb-[1.5px]">
          <h5 class="text-[#022d6a] text-[13px]">اجمالي عدد الحالات</h5>
          <span class="font-bold text-[#022d6a] text-[18px]">300</span>
        </div>
        <div class="flex gap-[1.5px] h-full">
          <div class="bg-white w-[50%] py-6">
            <div
              class="text-center flex-col items-center justify-center overflow-hidden"
            >
              <div class="pie-chart">
                <div class="pie-chart-inner">
                  {{ careData.calculatedValue }}
                </div>
              </div>
              <p class="text-center text-[#002d6a] mb-4 text-[11px]">
                الحالات المنجزة مع تاخير
              </p>
            </div>
          </div>
          <div class="bg-white w-[50%] py-6">
            <div
              class="text-center flex-col items-center justify-center overflow-hidden"
            >
              <div class="pie-chart-remaining">
                <div class="pie-chart-inner">{{ careData.remainingValue }}</div>
              </div>
              <p class="text-center text-[#002d6a] mb-4 text-[11px]">
                عدد الحالات الموافق عليها
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-[#F5F7FA] rounded-md overflow-hidden">
        <div class="flex items-center justify-between p-3 bg-white mb-[1.5px]">
          <h5 class="text-[#022d6a] text-[13px]">عدد الحالات</h5>
          <span class="font-bold text-[#022d6a] text-[18px]">300</span>
        </div>
        <div class="p-4 flex flex-col gap-y-8 bg-white mt-[1.5px] h-full">
          <div class="flex items-center gap-5">
            <div
              class="w-[35px] h-[35px] flex items-center justify-center bg-[#012d6a] rounded-md"
            >
              <img src="/assets/icons/f-text.svg" class="w-[15px]" alt="" />
            </div>
            <div class="flex-1">
              <div class="flex items-center justify-between">
                <h4 class="text-[13px] text-[#012d6a]">منجز</h4>
                <span class="text-[12px] text-[#012d6a]">123</span>
              </div>
              <div
                class="relative w-full overflow-hidden rounded-sm bg-[#F5F7FA] h-[5px] mt-2"
              >
                <div class="w-[70%] bg-[#022d6a] h-full"></div>
              </div>
            </div>
          </div>
          <div class="flex items-center gap-5">
            <div
              class="w-[35px] h-[35px] flex items-center justify-center bg-[#bfa25d] rounded-md"
            >
              <img src="/assets/icons/f-text.svg" class="w-[15px]" alt="" />
            </div>
            <div class="flex-1">
              <div class="flex items-center justify-between">
                <h4 class="text-[13px] text-[#012d6a]">قيد المتابعه</h4>
                <span class="text-[12px] text-[#bfa25d]">34</span>
              </div>
              <div
                class="relative w-full overflow-hidden rounded-sm bg-[#F5F7FA] h-[5px] mt-2"
              >
                <div class="w-[70%] bg-[#bfa25d] h-full"></div>
              </div>
            </div>
          </div>
          <div class="flex items-center gap-5">
            <div
              class="w-[35px] h-[35px] flex items-center justify-center bg-[#bb3837] rounded-md"
            >
              <img src="/assets/icons/f-text.svg" class="w-[15px]" alt="" />
            </div>
            <div class="flex-1">
              <div class="flex items-center justify-between">
                <h4 class="text-[13px] text-[#022d6a]">مروفوض</h4>
                <span class="text-[12px] text-[#bb3837]">36</span>
              </div>
              <div
                class="relative w-full overflow-hidden rounded-sm bg-[#F5F7FA] h-[5px] mt-2"
              >
                <div class="w-[70%] bg-[#bb3837] h-full"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-[#F5F7FA] rounded-md overflow-hidden md:hidden">
        <div class="flex items-center justify-between p-3 bg-white mb-[1.5px]">
          <h5 class="text-[#022d6a] text-[13px]">نسبة الانجاز</h5>
          <span class="font-bold text-[#022d6a] text-[18px]">300</span>
        </div>
        <div class="p-4 bg-white mt-[1.5px] h-full">
          <div class="items-center flex overflow-hidden justify-center">
            <div class="pie-chart-total">
              <div class="pie-chart-total-inner justify-center content-center">
                <p class="text-center text-[#798aa3] text-[12px]">علي الوقت</p>
                <h3 class="text-center text-[#002d6a] font-bold text-[18px]">
                  83%
                </h3>
                <hr class="text-center m-auto w-[50%] my-3 border-2" />
                <p class="text-center text-[#798aa3] text-[12px]">مع تأخير</p>
                <h3 class="text-center text-[#b43c3a] font-bold text-[18px]">
                  17%
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-[#F5F7FA] rounded-md overflow-hidden my-6">
      <div class="flex items-center justify-between p-3 bg-white mb-[1.5px]">
        <h5 class="text-[#022d6a] text-[13px]">الحالات</h5>
        <span class="font-bold text-[#022d6a] text-[18px]">300</span>
      </div>
      <div class="grid grid-cols-2 gap-[1.5px]">
        <div
          class="grid grid-cols-3 gap-[1.5px] justify-between overflow-hidden md:hidden"
        >
          <div
            class="bg-white text-center content-center py-4 items-center justify-center overflow-hidden"
          >
            <div class="pie-chart-incoming">
              <div class="pie-chart-inner pie-chart-inner1">
                {{ bookData.incomeValue }}
              </div>
            </div>
            <p class="text-center text-[#002d6a] text-[13px] mb-2">منجز</p>
          </div>
          <div
            class="bg-white text-center content-center py-4 items-center justify-center overflow-hidden"
          >
            <div class="pie-chart-outgoing">
              <div class="pie-chart-inner pie-chart-inner2">
                {{ bookData.outgoingValue }}
              </div>
            </div>
            <p class="text-center text-[#002d6a] text-[13px] mb-2">
              قيد المتابعه
            </p>
          </div>
          <div
            class="bg-white text-center content-center py-4 items-center justify-center overflow-hidden"
          >
            <div class="pie-chart-interior">
              <div class="pie-chart-inner pie-chart-inner3">
                {{ bookData.interiorValue }}
              </div>
            </div>
            <p class="text-center text-[#002d6a] text-[13px] mb-2">مرفوض</p>
          </div>
        </div>
        <div class="bg-white text-center items-center p-4"></div>
      </div>
    </div>
    <div class="bg-[#F5F7FA] rounded-md overflow-hidden my-6">
      <div class="flex items-center justify-between p-3 bg-white mb-[1.5px]">
        <h5 class="text-[#022d6a] text-[13px]">انواع الطلبات</h5>
        <span class="font-bold text-[#022d6a] text-[18px]">300</span>
      </div>
      <div class="grid grid-cols-2 gap-[1.5px]">
        <div
          class="grid grid-cols-3 gap-[1.5px] justify-between overflow-hidden md:hidden"
        >
          <div
            class="bg-white text-center content-center py-4 items-center justify-center overflow-hidden"
          >
            <div class="pie-chart-incoming">
              <div class="pie-chart-inner pie-chart-inner1">
                {{ bookData.incomeValue }}
              </div>
            </div>
            <p class="text-center text-[#002d6a] text-[13px] mb-2">منجز</p>
          </div>
          <div
            class="bg-white text-center content-center py-4 items-center justify-center overflow-hidden"
          >
            <div class="pie-chart-outgoing">
              <div class="pie-chart-inner pie-chart-inner2">
                {{ bookData.outgoingValue }}
              </div>
            </div>
            <p class="text-center text-[#002d6a] text-[13px] mb-2">
              قيد المتابعه
            </p>
          </div>
          <div
            class="bg-white text-center content-center py-4 items-center justify-center overflow-hidden"
          >
            <div class="pie-chart-interior">
              <div class="pie-chart-inner pie-chart-inner3">
                {{ bookData.interiorValue }}
              </div>
            </div>
            <p class="text-center text-[#002d6a] text-[13px] mb-2">مرفوض</p>
          </div>
        </div>
        <div class="bg-white text-center items-center p-4"></div>
      </div>
    </div>
  </div>
  <app-tab-mobile name="dashboard"></app-tab-mobile>
</div>
