@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 20px;
  height: 20px; 
}

::-webkit-scrollbar-thumb {
  background-color: #012D6A; 
  /* border-radius: 10px;  */
}



/* Body App */

* {
  font-family: "Cairo", sans-serif;
}

body {
  font-family: "Cairo", sans-serif !important;
}

.over-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
  box-shadow: initial !important;
}