<div class="p-5 h-screen overflow-y-auto">
  <h4 class="font-bold text-[22px] text-center text-[#012D6A] my-5">
    إحصائيات الطلبات 
    {{ onTimeValue}} 
    {{total}}
  </h4>
  <div class="relative overflow-x-auto bg-white rounded-lg" *ngIf="dataIsLoaded" >
    <table class="w-full text-sm">
      <thead class="text-white uppercase bg-[#012D6A]">
        <tr>
          <th scope="col" class="px-6 py-3" *ngFor="let column of careDetails.Columns">{{column.ColumnValue}}</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of careDetails.Data" >
          <td class="px-6 py-4 border text-center text-[#012D6A] font-bold" *ngFor="let column of careDetails.Columns">
            {{row[column.ColumnName]}}
          </td>
         
        </tr>
       
      </tbody>
    </table>
  </div>
</div>


