<div
  class="fixed z-[99] bottom-0 right-0 w-full h-full bg-white rounded-ss-lg rounded-se-lg p-6 translate-y-[100%] transition duration-700 ease-in-out"
  [class.!translate-y-0]="open"
>
  <!-- Head -->
  <div class="flex items-center justify-between sm:justify-center sm:flex-col">
    <div class="flex items-center gap-2 sm:relative sm:top-[35px]">
      <img src="/assets/img/logo.png" class="max-w-[50px]" alt="" />
      <h5 class="text-[12px] font-bold max-w-[90px] text-[#022d6a]">
        جاسم بن محمد بن ثاني
      </h5>
    </div>
    <button
      (click)="toggleAction()"
      class="flex items-center justify-center flex-col gap-1 relative top-[-15px] sm:top-[-50px]"
    >
      <span class="bg-[#022d6a] h-[1px] w-[25px] block"></span>
      <span class="bg-[#022d6a] h-[1px] w-[15px] block"></span>
    </button>
    <button
      class="sm:!w-full sm:fixed sm:bottom-0 sm:right-0 sm:rounded-none sm:!h-[50px] w-[100px] lgSM:w-[70px] h-[40px] lgSM:h-[35px] flex items-center justify-center rounded-md text-white bg-[#042d65]"
    >
      <img src="/assets/icons/sent-mail.svg" class="max-w-[18px] sm:max-w-[25px]" alt="" />
    </button>
  </div>
  <!-- Body -->
  <div class="my-[50px] sm:h-screen sm:overflow-y-auto sm:pb-[200px]">
    <h6 class="text-[12px] text-[#6681A6] mb-9">التاريخ : 12/02/2024</h6>
    <div class="my-4">
      <h4 class="text-[14px] font-bold text-[#002D6A]">اسم الموضوع</h4>
      <p class="text-[12px] text-[#002D6A] leading-6 mt-2">
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من
        النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. هذا النص
        هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد
        النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى
        إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
      </p>
    </div>
    <div class="my-4">
      <h4 class="text-[14px] font-bold text-[#002D6A]">اسم الموضوع</h4>
      <p class="text-[12px] text-[#002D6A] leading-6 mt-2">
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من
        النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. هذا النص
        هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد
        النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى
        إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
      </p>
    </div>
    <div class="my-4">
      <h4 class="text-[14px] font-bold text-[#002D6A]">اسم الموضوع</h4>
      <p class="text-[12px] text-[#002D6A] leading-6 mt-2">
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
        النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من
        النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. هذا النص
        هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد
        النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى
        إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
      </p>
    </div>
  </div>
</div>
