<div class="p-5 h-screen overflow-y-auto" *ngIf="careDetails">
  <!-- <h4 class="font-bold text-[22px] text-center text-[#012D6A] my-5">
    إحصائيات الطلبات المتأخرة 124
  </h4> -->
  <div class="relative overflow-x-auto bg-white rounded-lg">
    <table class="w-full text-sm">
      <thead class="text-white uppercase bg-[#012D6A]">
        <tr>
          <th scope="col" class="px-6 py-3">الرقم المرجعي</th>
          <th scope="col" class="px-6 py-3">إسم الحالة</th>
          <th scope="col" class="px-6 py-3">تاريخ التقديم</th>
          <th scope="col" class="px-6 py-3">المرسل</th>
          <th scope="col" class="px-6 py-3">المرسل إليه</th>
          <th scope="col" class="px-6 py-3">الإجراء</th>
          <th scope="col" class="px-6 py-3">حالة الطلب</th>
          <th scope="col" class="px-6 py-3">وقت الإستجابة</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="px-6 py-4 border text-center text-[#012D6A] font-bold">
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >سعيد عقيص حمد سعيد البريد
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            دراسة الحالة
          </td>
          <td class="px-6 py-4 font-bold text-center border text-[#BFA25D]">
            متأخر
          </td>
          <td
            class="px-6 py-4 font-bold border text-center text-[20px] text-[#012D6A]"
          >
            22
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td class="px-6 py-4 border text-center text-[#BFA25D] font-bold">
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >سعيد عقيص حمد سعيد البريد
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            دراسة الحالة
          </td>
          <td class="px-6 py-4 font-bold text-center border text-[#BFA25D]">
            متأخر
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            22
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 border text-center text-[#012D6A] font-bold">
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >سعيد عقيص حمد سعيد البريد
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            دراسة الحالة
          </td>
          <td class="px-6 py-4 font-bold text-center border text-[#BFA25D]">
            متأخر
          </td>
          <td
            class="px-6 py-4 font-bold border text-center text-[20px] text-[#012D6A]"
          >
            22
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td class="px-6 py-4 border text-center text-[#BFA25D] font-bold">
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >سعيد عقيص حمد سعيد البريد
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            دراسة الحالة
          </td>
          <td class="px-6 py-4 font-bold text-center border text-[#BFA25D]">
            متأخر
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            22
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 border text-center text-[#012D6A] font-bold">
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >سعيد عقيص حمد سعيد البريد
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            دراسة الحالة
          </td>
          <td class="px-6 py-4 font-bold text-center border text-[#BFA25D]">
            متأخر
          </td>
          <td
            class="px-6 py-4 font-bold border text-center text-[20px] text-[#012D6A]"
          >
            22
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td class="px-6 py-4 border text-center text-[#BFA25D] font-bold">
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >سعيد عقيص حمد سعيد البريد
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            دراسة الحالة
          </td>
          <td class="px-6 py-4 font-bold text-center border text-[#BFA25D]">
            متأخر
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            22
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 border text-center text-[#012D6A] font-bold">
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >سعيد عقيص حمد سعيد البريد
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            دراسة الحالة
          </td>
          <td class="px-6 py-4 font-bold text-center border text-[#BFA25D]">
            متأخر
          </td>
          <td
            class="px-6 py-4 font-bold border text-center text-[20px] text-[#012D6A]"
          >
            22
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td class="px-6 py-4 border text-center text-[#BFA25D] font-bold">
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >سعيد عقيص حمد سعيد البريد
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            سعيد عقيص حمد سعيد البريد
          </td>
          <td class="px-6 py-4 border text-center text-[#012D6A]">
            دراسة الحالة
          </td>
          <td class="px-6 py-4 font-bold text-center border text-[#BFA25D]">
            متأخر
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            22
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="p-5 h-screen overflow-y-auto" *ngIf="!careDetails">
  <h4 class="font-bold text-[22px] text-center text-[#012D6A] my-5">
    {{ barValue }} - {{ title }}
  </h4>
  <div class="relative overflow-x-auto bg-white rounded-lg">
    <table class="w-full text-sm">
      <thead class="text-white uppercase bg-[#012D6A]">
        <tr>
          <th scope="col" class="px-6 py-3 text-start border border-[#eef0fc]">
            الرقم المرجعي
          </th>
          <th scope="col" class="px-6 py-3 text-start border border-[#eef0fc]">
            إسم الموظف
          </th>
          <th scope="col" class="px-6 py-3 text-start border border-[#eef0fc]">
            تاريخ الإنشاء
          </th>
          <th scope="col" class="px-6 py-3 text-start border border-[#eef0fc]">
            موضوع العقد
          </th>
          <th scope="col" class="px-6 py-3 border border-[#eef0fc]">التأخير</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#BFA25D] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#BFA25D] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#BFA25D] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#BFA25D] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#BFA25D] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
        <tr class="bg-[#f6f7fa]">
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#BFA25D] font-bold"
          >
            م.م.2014/ 000173
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/user.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A] font-bold"
                >قسم الشؤون الأدارية / خالد محمد فهمي
              </span>
            </div>
          </td>
          <td class="px-6 py-4 border border-[#eef0fc]">
            <div class="flex items-center justify-center gap-x-2">
              <img src="assets/icons/calender.svg" class="max-w-[12px]" />
              <span class="text-[#012D6A]">AM 9:28:23 - 7/1/2024 </span>
            </div>
          </td>
          <td
            class="px-6 py-4 border text-center border-[#eef0fc] text-[#012D6A]"
          >
            طلب اصدار بطاقات التامين القومي للسيد وائل عزت
          </td>
          <td
            class="px-6 py-4 font-bold text-center border text-[20px] text-[#012D6A]"
          >
            4
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
